@tailwind base;
@tailwind components;
@tailwind utilities;

.credit{
    background-color: rgba(255, 0, 0, 0.185);
    width: 200px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
}
